@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <p>1111111111111</p>
    <iframe src="https://html-classic.itch.zone/html/12198235/build_slV4/index.html" style="width:960px;height:600px"></iframe>
</div>
